{% extends "recipes/base.html" %}

{% block content %}

    {% include "recipes/home/hero_section.html" %}   
    {% include "recipes/home/search_bar.html" %}
    
    <!-- Main Content Area -->
    <div class="max-w-7xl mx-auto px-4">
       
        {% include "recipes/home/categories_section.html" %}
        {% include "recipes/home/trending_recipes.html" %}
        {% include "recipes/home/advertisement_banner.html" %}  
        {% include "recipes/home/newsletter_subscription.html" %}
    </div>
{% endblock content %}